<div class="grid grid-nogutter surface-section text-800 mt-5 mb-7">
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/layout/images/project/bd_01.jpg"  style="clip-path: polygon(0 100%, 0 0%, 98% 0%, 92% 100%)" alt="Image" class="md:ml-auto block md:h-full">
    </div>
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-4xl font-bold mb-1">¡Est&aacute;s a punto de conocer tu nueva casa!</span>
            <div class="text-4xl text-primary font-bold mb-3">Agenda una cita</div>
            <p class="mt-0 mb-5 text-700 line-height-3">
                Por favor, llena la siguiente informaci&oacute;n y uno de nuestros asesores se pondr&aacute; en 
                 contacto con usted para acordar una cita.
            </p>
            
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
					<label htmlFor="emaiñ">Correo</label>
					<input pInputText id="email" type="email" />
				</div>
				<div class="field col-12 md:col-4">
					<label htmlFor="firstname2">Nombre</label>
					<input pInputText id="firstname2" type="text" />
				</div>
				<div class="field col-12 md:col-4">
					<label htmlFor="lastname2">Apellidos</label>
					<input pInputText id="lastname2" type="text" />
				</div>
				<div class="field col-12">
					<label htmlFor="address">Dirección</label>
					<input pInputTextarea id="address" rows="4" />
				</div>

				<div class="field col-12 md:col-4">
					<label htmlFor="phone1">Tel&eacute;fono Casa</label>
					<input pInputText id="city" type="phone1" />
				</div>
                <div class="field col-12 md:col-4">
					<label htmlFor="phone2">Tel&eacute;fono Personal</label>
					<input pInputText id="city" type="phone2" />
				</div>
                <div class="field col-12 md:col-4">
					<label htmlFor="phone3">Tel&eacute;fono Trabajo</label>
					<input pInputText id="city" type="phone3" />
				</div>
			</div>
            <div class="mt-3">
                <button pButton pRipple type="button" label="Enviar" 
                    class="p-button text-xl p-button-rounded p-button-outlined text-orange-500 hover:text-white hover:bg-orange-500 p3-2 w-full"></button>
            </div>
        </section>
    </div>
</div>