<div class="layout-footer">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-4 logo-container-outer">
            <a href="/" class="logo-container">
                <img class="h-3rem" src="assets/layout/images/project/logo_02.png" alt="Inmueblesitos_logo" />
                <span class="app-name">El primer paso hacia tu nueva vida comienza aqu&iacute;</span>
            </a>
        </div>
        <div class="col-12 md:col-12 lg:col-8" style="text-align:center">
            <div id="footer-menu">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-3 footer-box">
                        <span class="font-semibold">Visi&oacute;n general</span>
                        <a href="/prueba">Sobre nostros</a>
                        <a href="/prueba">Objetivos</a>
                        <a href="/prueba">Testimonios</a>
                        <a href="/prueba">Nuestra pol&iacute;tica</a>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 footer-box">
                        <span class="font-semibold">M&aacute;s</span>
                        <a href="/prueba">Consulta tu cr&eacute;dito</a>
                        <a href="/prueba">Herramienta de cotizaci&oacute;n</a>
                        <a href="/prueba">Galer&iacute;a</a>
                        <a href="/prueba">Blog</a>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 footer-box">
                        <span class="font-semibold">Soporte</span>
                        <a href="/prueba">FAQ</a>
                        <a href="/prueba">Contactanos</a>
                        <a href="/prueba">Terminos y condiciones</a>
                        <a href="/prueba">Pol&iacute;tica de privacidad</a>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 footer-box">
                        <span>SOCIAL</span>
                        <a href="/prueba" class="icon-link"><i class="pi pi-twitter icon"></i></a>
                        <a href="/prueba" class="icon-link"><i class="pi pi-facebook icon"></i></a>
                        <a href="/prueba" class="icon-link"><i class="pi pi-instagram icon"></i></a>
                        <a href="/prueba" class="icon-link"><i class="pi pi-whatsapp icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
