<div class="grid grid-nogutter surface-section text-800 mb-5">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">¡Hoy se estrena casa nueva!</span>
            <div class="text-6xl text-primary font-bold mb-3">Tu nuevo hogar te espera</div>
            <p class="mt-0 mb-5 text-700 line-height-3">
                Somos una inmobiliaria con una amplia red de oficinas en todo México que te ayudará encontrar tu nuevo hogar. Eencuentra la propiedad que buscas en el lugar de tu interés. 
            </p>
            
            <a pButton pRipple type="button" label="¡Conoce tu nueva casa!" 
                    class="p-button-lg p-button-rounded p-button-raised mr-4 mb-4 py-3 hover:bg-orange-500 border-none"></a>
			<a pButton pRipple type="button" label="Agenda una cita" 
                    class="p-button-lg p-button-rounded p-button-outlined text-orange-500 mr-4 mb-4 py-3 hover:bg-primary"></a>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/layout/images/project/bg_02_sm.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>