<div class="surface-section px-4 py-4 md:px-8 lg:px-8 mt-8">
    <div class="text-700 text-center">
        <div class="text-900 font-bold text-3xl mb-3">O si lo prefieres...</div>
        <div class="text-700 text-xl mb-5">
            Puedes visitarnos en nuestras oficinas
        </div>
        <div class="grid grid-nogutter align-items-center justify-content-between text-xl my-5 px-6">
            <div><i class="pi pi-whatsapp mr-2" style="font-size: 1rem"></i>272 138 9306</div>
            <div><i class="pi pi-map-marker mr-2" style="font-size: 1rem"></i>Avenida Oriente 9 No. 852. Col. Emiliano Zapata.</div>
            <div><i class="pi pi-send mr-2" style="font-size: 1rem"></i>isma@gmail.com</div>
        </div>
        <p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}"></p-gmap>
    </div>
</div>