
<div class="surface-card p-4 border-none w-full">
    <div class="text-center mb-5">
        <img src="assets/layout/images/project/logo_02.png" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
    </div>

    <div>
        <label for="email1" class="block text-900 font-medium mb-2">Correo</label>
        <input id="email1" type="email" pInputText class="w-full mb-3" value="m16011220@orizaba.tecnm.mx">

        <label for="password1" class="block text-900 font-medium mb-2">Contraseña</label>
        <input id="password1" type="password" pInputText class="w-full mb-3" value="Hol4Mund0.1">

        <div class="flex align-items-center justify-content-between mb-3">
            <div class="flex align-items-center">
                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1" class="text-900">Recue&eacute;rdame</label>
            </div>
            <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">¿Olvidaste la contraseña?</a>
        </div>
    </div>
</div>