<div class="grid grid-nogutter surface-section px-4 py-4 md:px-8 lg:px-8 mt-8">
    <div class="col-12 md:col-6 md:p-6 text-center md:text-left flex align-items-center ">
        <app-gallery></app-gallery>
    </div>
    <div class="col-12 md:col-6 overflow-hidden mt-8 pt-2">
        <div class="flex align-items-center justify-content-between mb-3"><span
                class="text-xl font-semibold text-900">Nombre del Inmueble</span><span
                class="text-xl font-medium text-900">$ 345,500.00</span></div>
        <div class="flex align-items-center justify-content-between lg:justify-content-start mb-5">
            <div class="bg-green-200 text-green-900 text-sm inline-flex align-items-center mr-2 px-2 py-1 font-medium">
                <i class="pi pi-exclamation"></i><span>Disponibilidad</span>
            </div>
            <span class="gap-1">
                <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            </span>
            <span class="text-500">| <b>5</b> reseñas</span>
        </div>
        <p class="p-0 mt-0 mb-5 line-height-3 text-700"> Dolor purus non enim praesent. At quis risus sed vulputate
            odio ut. Quis risus sed vulputate odio ut enim blandit volutpat. Ornare arcu odio ut sem nulla pharetra
            diam sit. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. </p>
        <div class="font-bold text-900 mb-3">Ubicación</div>
        <div class="flex align-items-center mb-5">
            <p>Calle, #numero CP Colonia, Ciudad y Estado</p>
        </div>
        <div class="mb-3 flex align-items-center justify-content-between">
            <span class="font-bold text-900">Servicios</span>
            <a tabindex="0"
                class="cursor-pointer text-600 hover:text-900 transition-colors transition-duration-300 text-sm flex align-items-center">
                Información de servicios <i class="ml-1 pi pi-angle-right"></i>
            </a>
        </div>
        <div class="align-items-center mb-5">
            Agua, Luz, Drenaje, Gas, Internet, etc.
        </div>
        <button pbutton="" pripple="" icon="pi pi-shopping-cart" label="Add to Cart"
            class="p-element p-ripple w-full mb-5 p-button p-component">
            <span class="p-button-icon p-button-icon-left pi pi-heart" aria-hidden="true"></span>
            <span class="p-button-label">Agregar a favoritos</span>
            <span class="p-ink"></span>
        </button>
    </div>
</div>
<app-contact></app-contact>
<app-location></app-location>