<div class="layout-sidebar" (click)="app.onMenuClick($event)">
    <div class="layout-menu-title text-xl">Menú principal</div>
    <div class="menu-scroll-content">
        <ul class="layout-menu">
            <li>
                <a pRipple routerLink="/" class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round hover:border-orange-500 cursor-pointer transition-colors transition-duration-100">
                    <i class="pi pi-home mr-2 text-orange-500"></i>
                    <span class="uppercase">Inicio</span>
                    <span class="p-ink"></span>
                </a>
            </li>
            <li>
                <a pRipple routerLink="/prueba" class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round hover:border-orange-500 cursor-pointer transition-colors transition-duration-100">
                    <i class="pi pi-dollar mr-2"></i>
                    <span class="uppercase">Vende tu casa</span>
                    <span class="p-ink"></span>
                </a>
            </li>
            <li>
                <a pRipple routerLink="/prueba" class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round hover:border-orange-500 cursor-pointer transition-colors transition-duration-100">
                    <i class="pi pi-users mr-2"></i>
                    <span class="uppercase">Sobre nosotros</span>
                    <span class="p-ink"></span>
                </a>
            </li>
            <li>
                <a pRipple routerLink="/prueba" class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round hover:border-orange-500 cursor-pointer transition-colors transition-duration-100">
                    <i class="pi pi-comments mr-2"></i>
                    <span class="uppercase">Testimonios</span>
                    <span class="p-ink"></span>
                </a>
            </li>
            <li>
                <a pRipple routerLink="/prueba" class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round hover:border-orange-500 cursor-pointer transition-colors transition-duration-100">
                    <i class="pi pi-book mr-2"></i>
                    <span class="uppercase">Blog</span>
                    <span class="p-ink"></span>
                </a>
            </li>
            <li>
                <a pRipple routerLink="/prueba" class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round hover:border-orange-500 cursor-pointer transition-colors transition-duration-100">
                    <i class="pi pi-question-circle mr-2"></i>
                    <span class="uppercase">faq</span>
                    <span class="p-ink"></span>
                </a>
            </li>
        </ul>
    </div>
</div>